<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.berta.fabio.qwittig" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="ch.berta.fabio.qwittig.ui.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.berta.fabio.qwittig.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.berta.fabio.qwittig.BuyerListActivity" />
        </activity>
        <activity
            android:name="ch.berta.fabio.qwittig.ui.PurchaseListActivity"
            android:label="@string/title_activity_purchase_list"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.berta.fabio.qwittig.BuyerListActivity" />
        </activity>
        <activity
            android:name="ch.berta.fabio.qwittig.ui.ItemListActivity"
            android:label="@string/title_activity_purchase_detail_list"
            android:launchMode="singleTop"
            android:parentActivityName="ch.berta.fabio.qwittig.ui.PurchaseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.berta.fabio.qwittig.PurchaseListActivity" />
        </activity>
        <activity
            android:name=".ui.AddPurchaseActivity"
            android:label="@string/title_activity_add_purchase_manually"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.berta.fabio.qwittig.BuyerListActivity" />
        </activity>

        <provider
            android:name="ch.berta.fabio.qwittig.data.WgProvider"
            android:authorities="ch.berta.fabio.qwittig"
            android:exported="false" />

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.berta.fabio.qwittig.ui.BuyerListActivity" />
        </activity>
    </application>

</manifest>
