<?xml version="1.0" encoding="utf-8"?>
<!--   ~ Copyright (c) 2015 Fabio Berta -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.giantific.qwittig"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <permission
        android:name="ch.giantific.qwittig.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
        />

    <uses-permission android:name="ch.giantific.qwittig.permission.C2D_MESSAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        />

    <application
        android:name=".Qwittig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".presentation.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.DrawStatusBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="qwittig"
                    />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW"/>-->

            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<category android:name="android.intent.category.BROWSABLE"/>-->

            <!--<data-->
            <!--android:host="qwittig.ch"-->
            <!--android:pathPrefix="/invitation"-->
            <!--android:scheme="https"-->
            <!--/>-->
            <!--<data-->
            <!--android:host="www.qwittig.ch"-->
            <!--android:pathPrefix="/invitation"-->
            <!--android:scheme="https"-->
            <!--/>-->
            <!--<data-->
            <!--android:host="qwittig.com"-->
            <!--android:pathPrefix="/invitation"-->
            <!--android:scheme="https"-->
            <!--/>-->
            <!--<data-->
            <!--android:host="www.qwittig.com"-->
            <!--android:pathPrefix="/invitation"-->
            <!--android:scheme="https"-->
            <!--/>-->
            <!--<data android:scheme="qwittig"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".presentation.settings.general.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".presentation.home.HomeActivity"
            />
        <activity
            android:name=".presentation.home.purchases.details.PurchaseDetailsActivity"
            android:label="@string/title_activity_purchase_details"
            android:parentActivityName=".presentation.home.HomeActivity"
            android:theme="@style/AppTheme.DrawStatusBar.Explode"
            />
        <activity
            android:name=".presentation.home.purchases.addedit.AddPurchaseActivity"
            android:label="@string/title_activity_add_purchase"
            android:parentActivityName=".presentation.home.HomeActivity"
            android:theme="@style/AppTheme.SlideBottom"
            android:windowSoftInputMode="stateUnchanged"
            />
        <activity
            android:name=".presentation.home.purchases.addedit.EditPurchaseActivity"
            android:label="@string/title_activity_edit_purchase"
            android:parentActivityName=".presentation.home.purchases.details.PurchaseDetailsActivity"
            android:theme="@style/AppTheme.SlideEnd"
            android:windowSoftInputMode="stateUnchanged"
            />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppThemeDark.Login"
            android:windowSoftInputMode="stateUnchanged|adjustPan"
            />
        <activity
            android:name=".presentation.settings.addgroup.SettingsAddGroupActivity"
            android:label="@string/title_activity_settings_group_new"
            android:parentActivityName=".presentation.settings.general.SettingsActivity"
            android:theme="@style/AppTheme.Explode"
            android:windowSoftInputMode="stateUnchanged"
            />
        <activity
            android:name=".presentation.settings.users.SettingsUsersActivity"
            android:label="@string/title_activity_settings_users"
            android:parentActivityName=".presentation.settings.general.SettingsActivity"
            android:theme="@style/AppTheme.Explode"
            android:windowSoftInputMode="stateUnchanged"
            />
        <activity
            android:name=".presentation.settings.profile.SettingsProfileActivity"
            android:label="@string/title_activity_settings_profile"
            android:parentActivityName=".presentation.settings.general.SettingsActivity"
            android:theme="@style/AppTheme.DrawStatusBar.Explode"
            android:windowSoftInputMode="stateUnchanged"
            />
        <activity
            android:name=".presentation.finance.FinanceActivity"
            android:label="@string/title_activity_finance"
            android:parentActivityName=".presentation.home.HomeActivity"
            android:theme="@style/AppTheme.DrawStatusBar"
            />
        <activity
            android:name=".presentation.helpfeedback.HelpFeedbackActivity"
            android:label="@string/title_activity_help_feedback"
            android:parentActivityName=".presentation.home.HomeActivity"
            />
        <activity
            android:name=".presentation.stats.StatsActivity"
            android:label="@string/title_activity_stats"
            android:theme="@style/AppTheme.DrawStatusBar"
            />
        <activity
            android:name=".presentation.tasks.list.TasksActivity"
            android:label="@string/title_activity_tasks"
            android:theme="@style/AppTheme.DrawStatusBar"
            />
        <activity
            android:name=".presentation.tasks.details.TaskDetailsActivity"
            android:label="@string/title_activity_task_detail"
            android:parentActivityName=".presentation.tasks.list.TasksActivity"
            android:theme="@style/AppTheme.DrawStatusBar.Explode"
            />
        <activity
            android:name=".presentation.tasks.addedit.TaskAddActivity"
            android:label="@string/title_activity_task_add"
            android:parentActivityName=".presentation.tasks.list.TasksActivity"
            android:theme="@style/AppTheme.SlideBottom"
            />
        <activity
            android:name=".presentation.tasks.addedit.TaskEditActivity"
            android:label="@string/title_activity_task_edit"
            android:parentActivityName=".presentation.tasks.details.TaskDetailsActivity"
            android:theme="@style/AppTheme.SlideEnd"
            />
        <activity
            android:name=".presentation.home.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <service android:name="com.parse.PushService"/>
        <service
            android:name=".data.services.ParseQueryService"
            android:exported="false"
            />

        <service
            android:name=".data.services.SavePurchaseTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            >
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <service
            android:name=".data.services.SaveIdentityTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            >
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="ch.giantific.qwittig"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".data.push.PushBroadcastReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE"/>
                <action android:name="com.parse.push.intent.DELETE"/>
                <action android:name="com.parse.push.intent.OPEN"/>
                <action android:name="ch.giantific.qwittig.push.intent.ACCEPT"/>
                <action android:name="ch.giantific.qwittig.push.intent.DISCARD"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_shopping_cart_white_24dp"
            />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:1027430235430"
            />
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_acnS5GHRD6gburgxVhUKEfjoFycGimNB"
            />
    </application>

</manifest>
